<!-- Tambahkan di file CSS atau di dalam <style> -->
  <style>
    .nav-item.active {
      background-color: #0e131d;
    }
  </style>
<body>
    <div class="wrapper">
      <!-- Sidebar -->
      <div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="https://pengenumroh.com/" class="logo">
              <img
                src="../assets/img/logo/pengenumroh.png"
                alt="navbar brand"
                class="navbar-brand"
                height="45"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <% if (typeof sidebarMenus !== 'undefined' && Array.isArray(sidebarMenus)) { %>
                <% sidebarMenus.forEach(menu => { %>
                  <% if (menu.submenus.length > 0) { %>
                    <li class="nav-item <%= activeMenu === menu.id_menu ? 'active' : '' %>">
                      <a data-bs-toggle="collapse" class="collapsed" href="<%= menu.link %>" data-target="#<%= menu.nama_menu %>">
                        <i class="<%= menu.icon %>"></i> <p><%= menu.nama_menu %></p>
                        <span class="caret"></span>
                      </a>
                      <div id="<%= menu.nama_menu %>" class="collapse <%= activeMenu === menu.id_menu ? 'show' : '' %>" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                        <ul class="nav nav-collapse">
                          <% menu.submenus.forEach(submenu => { %>
                            <li>
                              <a class="collapse-item" href="<%= submenu.link %>">
                                &nbsp;&nbsp;&nbsp;&nbsp;<i class="<%= submenu.icon %>"></i><%= submenu.nama_submenu %>
                              </a>
                            </li>
                          <% }); %>
                        </ul>
                      </div>
                    </li>
                  <% } else { %>
                    <li class="nav-item">
                      <a class="nav-link" href="<%= menu.link %>">
                        <i class="<%= menu.icon %>"></i><p><%= menu.nama_menu %></p> 
                      </a>
                    </li>
                  <% } %>
                <% }); %>
              <% } %>
            </ul>     
          </div>
        </div>
      </div>
      <!-- End Sidebar -->