<div class="container">
    <div class="page-inner">
     <div class="col-lg-12">
        <!-- PRODUK -->
        <form action="/products" method="POST" id="formProduct">
         <div class="row">
            <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Tambah Produk</div>
                        </div>
                        <div class="card-body row row-cols-2">
                                <div class="form-group col">
                                    <label class="col">
                                        Nama Produk<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="text" class="form-control" name="nama_produk" id="nama_produk" placeholder="Masukan Nama Produk" required>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label class="col">
                                        Harga <span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="text" class="form-control" name="harga" id="harga" placeholder="40.000.000" required>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label class="col">
                                        Kategori<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <select name="kategory" id="kategory" class="form-select" >
                                                <option 
                                                disabled
                                                selected
                                                value="">Pilih kategori</option>
                                                
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label class="col">
                                        Tanggal<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="date" class="form-control" name="date" id="date" placeholder="Masukan Nama Produk" required>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label class="col">
                                        Durasi (Hari)<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="number" class="form-control" name="duration" id="duration" placeholder="9 Hari" value="9" required>
                                    </div>
                                </div>
                                 <div class="form-group col">
                                    <label class="col">
                                       Kouta<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="number" class="form-control" name="kouta" id="kouta" placeholder="9 Hari" value="1" required>
                                    </div>
                                </div>
                                       <div class="form-group col">
                            <label class="col">Departure Airline<span class="text-danger">*</span></label>
                            <div class="col">
                                <input type="text" name="departure_ailines" class="form-control" placeholder="Masukan Departure Airline">
                            </div>      
                        </div>
                        <div class="form-group col">
                            <label class="col">Return Airline<span class="text-danger">*</span></label>
                            <div class="col">      
                                <input type="text" name="return_airlines" class="form-control" placeholder="Masukan Return Airline">
                            </div>      
                        </div>
                                <div class="form-group col">
                                    <label class="col">
                                        Deskripsi Produk<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <textarea name="product_description" id="product_description" class="form-control" rows="5" placeholder="Masukan Deskripsi Produk" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label class="col">
                                        Thumbnail Produk<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="file" class="form-control-file" name="thumbnail" onchange="validateFileExtension(this)">
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label class="col form-label">Status</label>
                                        <div class="col">
                                            <select name="status" class="form-select">
                                                <option value="DRAFT">Draft</option>
                                                <option value="ACTIVE">Publish</option>
                                            </select>
                                        </div>                     
                                </div>
                        </div>
                    </div>
            </div>    
            <!-- FASILITAS -->
            <div class="col-lg-4 ">
                  <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Hotel</h4>
                        </div>
                        <div class="card-body"> 
                            <!-- <div class="form-group">
                                <button type="button" class="btn btn-block btn-primary" id="addHotel">
                                    Tambah Hotel
                                </button>
                            </div> -->
                            <div class="form-group col">
                                <label class="col">
                                Hotel Mekkah<span class="text-danger">*</span>
                                </label>
                                 <div class="col">
                                   <select name="hotels[]" class="form-select" multiple required>
                                    <% hotels.forEach(hotel => { %>
                                        <option value="<%= hotel.id %>">
                                        <%= hotel.name %> - <%= hotel.city %>
                                        </option>
                                    <% }) %>
                                    </select>
                                 </div>     
                            </div>
                            <div class="form-group col">
                                <label >Fasilitas<span class="text-danger">*</span></label>
                                     <div class="container-tag" data-name="hotel_facilities">
                                        <div class="tag-name">
                                            <input type="text" class="input-tag-custom" placeholder="Type and hit enter">
                                        </div>
                                        
                                    </div>
                            </div>
                            <div class="form-group row">
                                    <label class="col-md-3">
                                        Gallery<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="file" class="form-control-file" name="gallery" onchange="validateFileExtension(this)">
                                    </div>
                            </div>
                            <div class="madinah-hotel" >
                                 <div class="form-group col">
                                <label class="col">
                                Hotel Madinah<span class="text-danger">*</span>
                                </label>
                                 <div class="col">
                                    <select name="hotels[0][city]" class="form-select">
                                        <option value="MEKKAH">Mekkah</option>
                                        <option value="MADINAH">Madinah</option>
                                    </select>
                                 </div>     
                            </div>
                            <div class="form-group col">
                                <label >Fasilitas<span class="text-danger">*</span></label>
                                     <div class="container-tag" data-name="hotel_facilities">
                                        <div class="tag-name">
                                            <input type="text" class="input-tag-custom" placeholder="Type and hit enter">
                                        </div>
                                        
                                    </div>
                            </div>
                            <div class="form-group row">
                                    <label class="col-md-3">
                                        Gallery<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="file" class="form-control-file" name="gallery" onchange="validateFileExtension(this)">
                                    </div>
                            </div>
                            </div>
                    </div>
                    </div>
                       <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Fasilitas Tambahan</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group col">
                                <label >Fasilitas include<span class="text-danger">*</span></label>
                                    <%- include('../partials/formTag', {
                                        name: 'facilities_include',
                                        placeholder: 'Type and hit enter'
                                    }) %>   
                            </div>
                            <div class="form-group col">
                                <label>Fasilitas exclude<span class="text-danger">*</span></label>
                               
                                    <%- include('../partials/formTag', {
                                        name: 'facilities_exclude',
                                        placeholder: 'Type and hit enter'
                                    }) %>

                            </div>
                        </div>
                    </div>
                   
         </div>
        <!-- ITINERARY -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Rencana Perjalanan</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group row g-5">
                            <div class="col-md-11">
                                <button type="button" class="btn btn-success btn-block action-btn" id="addRoadmap" name="roadmap_attributes">Add Roadmap</button>
                            </div>
                            <div class="roadmap_option" id="roadmap_option">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- SUBMIT -->
            <div class="col-12 ">
                <div class="float-right mb-3">
                        <button type="cancel" class="btn btn-primary">Batal</button>
                        <button type="submit" class="btn btn-success">Simpan Produk</button>                     
                </div>
            </div>  
        </form>
       </div>
    </div> 
</div>